html {
    font-size: 16px;
    overflow-y: scroll;
    overflow-x: hidden;
}

body {
    margin: 0;
    width: 100%;
    height: auto;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    overflow-x: hidden;
    overflow: -moz-hidden-unscrollable;
}

.oc {
    opacity: .5;
}

a{
    text-decoration: none;
    color: black;
}







h1 {
    margin: 0;
    padding: 0;
    font-size: 1.5rem;
}

h4 {
    margin: 0;
    padding: 0;
    font-size: 1rem;
}

.fas,
.fab {
    padding: 2%;
    color: azure;
    font-size: 1.5rem;
}

.fab:hover {
    color: rgb(147, 147, 184);
}

.fas:hover {
    color: rgb(147, 147, 184);
}





#footer {
    background-color: rgb(9, 9, 41);
    opacity: 0.8;
    height: 5%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    padding-left: 5%;
}

#sc{
    display: flex;
    flex-direction: row;
    flex-grow: 2;
}

#supportS {
    padding: 1%;
    display: grid;
    flex-grow: 1;
}

h3 {
    color: aliceblue;
    margin: 1% 0% 1% 0%;
    font-size: 1.3rem;
}

.ft {
    color: aliceblue;
    font-size: 1rem;
}

#contacts {
    padding: 1%;
    display: grid;
    flex-grow: 1;
}


#extra {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#dev {
    padding-left: 25%;
}

.bcard {
    box-shadow: 4px 4px 20px rgb(82, 82, 82);
    margin: 5%;
}



@media screen and (max-width: 768px) {
  
    #i1,
    #i2,
    #i3,
    #i4,
    #i5 {
        margin-left: 0%;
        margin-right: 0%;
        width: 60%;
        min-height: 15rem;
    }

    #footer {
        flex-direction: row;
    }

    #extra {
        flex-direction: column;
        flex-grow: 2;
    }

    #icons {
        flex-grow: 2;
    }
    #sc{
        flex-direction: column;
    }

    #dev {
        flex-grow: 1;
    }
}

@media screen and (max-width: 425px) {

    #i1,
    #i2,
    #i3,
    #i4,
    #i5 {
        margin-left: 0%;
        margin-right: 0%;
        width: 80%;
        min-height: 15rem;
    }

    #footer {
        flex-direction: row;
    }

    #sideMenu {
        width: 7rem;
    }

    #extra {
        flex-direction: column;
        flex-grow: 2;
    }

    #dev{
        padding-left: 0%;
    }

    #icons {
        flex-grow: 2;
    }
    #sc{
        flex-direction: column;
    }
    #dev {
        flex-grow: 1;
        
    }
}