html {
    font-size: 15px;
}

body,
html {
    height: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    overflow: -moz-hidden-unscrollable;
}

body {
    background-size: cover;
    background-attachment: fixed;
    background-size: cover;
    overflow-x: hidden;
    overflow: -moz-hidden-unscrollable;
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2rem;
    margin: .5rem 0%;
}

h3 {
    font-size: 1.3rem;
    margin: .5rem 0%;
}

h4 {
    font-size: 1rem;
    margin: .5rem 0%;
}

#circle {
    background-color: rgb(125, 223, 192);
    width: max-content;
    height: max-content;
    aspect-ratio: 1/1;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    box-sizing: border-box;
    padding: 1%;
    border: 5px solid black;
    z-index: 1;
}

.sctor {
    margin: 2%;
    background-color: aqua;
    height: 3rem;
    margin: 2% auto;
    width: 140%;
    right: 30%;
    text-align: end;
    position: relative;
}

sub {
    font-size: 1rem;
}

#scrollBoxs {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 0% 0%;
    box-sizing: border-box;
}

.scrollBox {
    margin: 5% 5%;
    background-color: antiquewhite;
    border-radius: 5%;
    padding: 1% 2%;
}

.scrlP{
    margin: 1%; font-size: 1.2rem;
}

@media screen and (max-width: 768px) {

    #scrollBoxs {
        flex-direction: column;
        align-items: center;
    }

    h1 {
        font-size: 2rem;
    }

    h2 {
        font-size: 1.5rem;
    }

    .sctor {
        height: 2.2rem;
    }
    .scrollBox {
        width: 65%;
    }

    #sideMenu {
        width: 20%;
        top: 4rem;
    }
}

@media screen and (max-width: 425px) {

    h1 {
        font-size: 1rem !important;
    }

    h2 {
        font-size: .8rem !important;
    }

    .sctor {
        height: 2rem;
    }

    #scrollBoxs {
        flex-direction: column;
        align-items: center;
    }

    .scrollBox {
        width: 80%;
    }

}